<!doctype html>
<html>
<head>
<meta charset="UTF-8">

<!--Responive Design-->
<script src="https://s.codepen.io/assets/libs/modernizr.js" type="text/javascript"></script>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

<title>Ken Truong</title>
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/queries.css">
<link rel="stylesheet" href="css/progressBarStyle.css">
<link rel="stylesheet" href="css/skillBar.css">
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<link rel='stylesheet prefetch' href='http://ksylvest.github.io/jquery-lighter/stylesheets/jquery.lighter.css'>
<link href="https://fonts.googleapis.com/css?family=Bangers|Erica+One|Satisfy|Archivo+Black|Roboto+Slab|Open+Sans" rel="stylesheet">





</head>
<body>
<a name="HOMELink"></a>	
<div class="bg1">
	<div class="topHeaderbg">
		<div id="inner-content">
  <div class="mobile-nav-container"></div><!-- .mobile-nav-container -->
  <div class="mobile-nav-btn">
    <img class="nav-open" src="fonts/nav-open.png" alt="Nav Button Open" />
    <img class="nav-close" src="fonts/nav-close.png" alt="Nav Button Close" />
  </div>

  <nav class="rad-nav">
    <div class="title-area">
       <h1 class="logo">
         <a href="#"></a>
       </h1>
    </div>

    <ul class="rad-menu">
         <li><a href="#HOMELink" class="">HOME</a></li>
          <li><a href="#professionalLink" class="">PROFESSIONAL</a></li>
          <li><a href="#portfolioLink" class="">PORTFOLIO</a></li>
          <li><a href="#experienceLink" class="">EXPERIENCE</a></li>
          <li><a href="#contactLink" class="">CONTACT</a></li>
    </ul>
  </nav>
</div>

<!--<hr class="hrstyle14">-->
	</div>
	
	<div id="imDiv">
		
		
			<div id="kenTruongDiv">
		<h2 class="kenTruongWord"><div class="iM">I<span class="styleSingleQuote">'</span>M</div> KEN TRUONG<span class="dot">.</span></h2>
		</div>
	
	
				
				<div id="webDeveloperDiv">
		<h2 class="webDeveloperWord">Jr. Web Developer</h2>
		<h2 class="webDeveloperWordTwo">Aspiring Full Stack Web Engineer</h2>
		</div>
		
		<hr class="style14">
	</div>	
	
	<div class="resumeDivWrappa">
		<div id="downloadResumeDiv">
			<div class="KLargeLogoDiv"><h1 class="KLargeLogo"></h1></div>
			<div class="paragraphOneDiv">
			<p class="parygraphTHO">Welcome to my very own Portfolio Website! I'm Ken Truong and I'm an Aspiring Full Stack Developer. I have a passion for strategizing and designing websites from the ground up. Over the past months, I spent countless hours perfecting my skills in core web development languages such as HTML5/CSS3 & Javascript. I am forever a student and my knowledge will continue to grow. At this very moment, you are reading this. I'm out studying new languages and figuring out new ways to improve my skills. I believe I can build any websites you could imagine. I had done work with Real Estate, Restaurants, Digital Agency, and even E-commerce websites. I make sure they are at their top notch, fully functional and ready to be used. So that being said, throw me your ideas and let's make this magic happen. Please check out my resume on the link below and don’t hesitate to contact me anytime.</p>
			</div>
			<div id="downloadResumeNow">
			<a href="web/viewer.html?file=resume.pdf" class="styleDownloadResume">VIEW RESUME</a>
		    </div>

		</div>
	</div>
	

</div>

<div class="bg2"></div>
<div class="bg3">  




<!--PROGRESS BAR!!!!-->
<div class="inliner"></div>
<div class="inlined">
 	<div class="topProfessionalDiv">
 	<a name="professionalLink"></a>
 	<div class="proprodivOne">
  <h1 class="professionalh1">PROFESSIONAL</h1>
  <h2 class="myKnowledgeh2">MY KNOWLEDGE LEVEL IN SOFTWARE</h2>
	</div>
  

<div class="skillbar clearfix " data-percent="88%">
	<div class="skillbar-title position_title"<span>HTML & CSS</span></div>
	<div class="skillbar-bar" style="background: #13b3bf;"></div>
	<div class="skill-bar-percent">Proficient</div>
</div> 
<!-- End Skill Bar -->

<div class="skillbar clearfix " data-percent="80%">
	<div class="skillbar-title position_javascript"<span>Javascript</span></div>
	<div class="skillbar-bar" style="background: #13b3bf;"></div>
	<div class="skill-bar-percent">Proficient</div>
</div> <!-- End Skill Bar -->

<div class="skillbar clearfix " data-percent="85%">
	<div class="skillbar-title"<span>Adobe Photoshop</span></div>
	<div class="skillbar-bar" style="background: #13b3bf;"></div>
	<div class="skill-bar-percent">Proficient</div>
</div> 
<!-- End Skill Bar -->


<div class="skillbar clearfix " data-percent="100%">
	<div class="skillbar-title position_title"<span>Google Skills</span></div>
	<div class="skillbar-bar" style="background: #13b3bf;"></div>
	<div class="skill-bar-percent">Professional</div>
</div> <!-- End Skill Bar -->




<div id="roadToSuccessDiv"><h1 class="roadToSuccess">Success Tracker</h1></div>
    
    

    </div>





  <!-- Start component -->
  <div class="progress-meter">
    <div class="track">
      <span class="progress"></span>
    </div>
    <ul class="progress-points" data-current="4">
      <li class="progress-point">
        <span class="label">HTML</span>
      </li>
      <li class="progress-point">
        <span class="label">CSS & Bootstrap</span>
      </li>
      <li class="progress-point">
        <span class="label">Javascript & jQuery</span>
      </li>
      <li class="progress-point">
        <span class="label">PHP & MySQL</span>
      </li>
      <li class="progress-point">
        <span class="label">Node.js</span>
      </li>
    </ul>
  </div>
  
  
  <!-- End component -->
  
  <!-- Demo only -->
  <div class="controls">
    <button class="trigger btn btn-info">Tunnel Vision!</button>
  </div>
</div>
  </div>
  
<!--  PORTFOLIO!!!!!-->
  
<div class="skills">

		 	<div class="topPortfolioDiv">
		 	<a name="portfolioLink"></a>
 	<div class="portfolioOne">
 	  <h1 class="portfolioh1">PORTFOLIO</h1>
  <h2 class="latesth2">MY LATEST WORK. <a href="portfolio.html" class="seeMoreText">CHECK OUT MORE ></a></h2>
    <div id="w">
    
    <ul class="imglist clearfix">
     
       <li><a href="https://kenvantruong.github.io/Lonely-Fisherman-Restaurant/"><img src="projectimg/lonelyfishermanrestaurant.png" width="300" height="200"></a></li>
       <li><a href="https://kenvantruong.github.io/Real-Estate/"><img src="projectimg/RealEstate.png" width="300" height="200"></a></li>
       <li><a href="https://kenvantruong.github.io/Mount-Bromo/"><img src="projectimg/mountbromo.png" width="300" height="200" ></a></li> 
      <li><a href="https://kenvantruong.github.io/Netflix-Project/"><img src="projectimg/netflix.png" width="300" height="200"></a></li>
      <li><a href="https://kenvantruong.github.io/Trello-Website/"><img src="projectimg/trello.png" width="300" height="200"></a></li>
      <li><a href="https://kenvantruong.github.io/Dawg-Furrfect/"><img src="projectimg/dawgfurrfect.png" width="300" height="200"></a></li>

      
    </ul>
    
    

    
	</div>
	</div>
	</div>
		
		
</div>




<div class="bg4">
   	<div class="experienceDiv">
   	<a name="experienceLink"></a>
  <h1 class="experienceh1">EXPERIENCE</h1>
	</div>
  
  

<div class="history-tl-container">
  <ul class="tl">
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        April 2017 - <br> May 2017
      </div>
      <div class="item-title">Web Development Mentorship: Joe Santos Garia</div>
      <div class="item-detail">4 Week Program</div>
<div class="item-detail">CodingPhase.com</div>
      
    </li>
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        16 September 2016 <br> 
      </div>
      <div class="item-title">First Website Goes Live.</div>
      <div class="item-detail">www.KenVanTruong.com</div>
    </li>
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        25 December 2016 <br>
      </div>
      <div class="item-title">First Commit Github Repository</div>
      <div class="item-detail">Github</div>
    </li>
        <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        2006<br>
      </div>
      <div class="item-title">Custom Myspace Profile for Friends</div>
      <div class="item-title">HTML/CSS</div>
      <div class="item-detail">Myspace</div>
    </li>
        <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        2005<br> 
      </div>
      <div class="item-title">Built First Game with RPG Maker</div>
      <div class="item-title">Logic Knowledge</div>
      <div class="item-detail">RPG Maker</div>
    </li>


  </ul>

</div>
  
  
</body>
</html>


</div>
<div class="bg7">
	<div class="bg7div">
   <a name="contactLink"></a>
    <div class="contactMeDiv">
    <div class="contactmeTEXT"><h2>Contact Me</h2></div>
<div id="leftsideContactDiv">      
   <h3 class="KVTname">Ken Van Truong</h3>
   <p class="contactPPP">“Natural born hustler, eagle eye vision, mission on lock to learn as much as possible. Be the best that one can be. It's this hunger inside of him, He's not human nor is he a quitter, he is an unstoppable, a beast that adapts to new changes and technologies”</p>
  <div class="ppEmailNTel">
   <h6>kenvantruong@gmail.com</h6>
   <h6>Tel: 1-707-334-9626</h6>
   </div>
</div> 
		  <div class="formDivMang">
			  <form name="sentMessage" id="contactForm" novalidate>
			<div class="row">
		 <div class="nameNEmailMangDiv">
			  <div class="col-md-6 nameFormDiv">
				<div class="form-group nameFormDiv">
				  <input type="text" id="name" class="form-control" placeholder="Name" required="required">
				  <p class="help-block text-danger"></p>
				</div>
			  </div>
		 </div>
			  <div class="col-md-6 emailFormDiv">
				<div class="form-group emailFormDiv">
				  <input type="email" id="email" class="form-control" placeholder="Email" required="required">
				  <p class="help-block text-danger"></p>
				</div>
			  </div>
			</div>
		<div class="messageBoxDivMang">
			<div class="form-group">
			  <textarea name="message" id="message" class="form-control" rows="4" placeholder="Message" required></textarea>
			  <p class="help-block text-danger positionDangerO"></p>
			</div>
		</div>
			<div id="success"></div>
		<div class="submitButtonDivMang"><button type="submit" id="submitMessageDiv" class="btn btn-default">Send Message</button></div>
		  </form>
		   </div>
		
<!--
<form class="cf "method="post" action="contact-proc.php">
  <div class="half left cf">
    <input name="name" type="text" id="input-name" placeholder="Name">
    <input name="email" type="email" id="input-email" placeholder="Email address">
    <input name="message" type="text" id="input-subject" placeholder="Message">
  </div>
  <div class="half right cf">
    <textarea name="message" type="text" id="input-message" placeholder="Message"></textarea>
  </div>  
  <input name ="submit" type="submit" value="Submit" id="input-submit">
</form>
-->
 
 
  </div>
  
  <div class="socialMedia">
	<a href="https://github.com/kenvantruong"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a></href>
	<a href="tel:707-334-9626"><i class="fa fa-phone fa-2x" aria-hidden="true"></i></href>
 	<a href="mailto:kenvantruong@gmail.com"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
  	<a href="https://www.linkedin.com/in/kenvantruong"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></href>
  	<a href="https://twitter.com/KenVanTruong"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></href>
  	
  	
  </div>
  </div>
<!--  MUSIC PLAYER-->




  
  
  
  
  
  </div>
	
	

</div>
<div class="footer">
	<div id="footWrapID">
	<div class="footerWrap">
	<a href="#"><h1 class="KlogoFooter"></h1></a>
	<h4 class="copyRightText">&copy; 2017 Made by Ken Truong</h4>
	</div>
	</div>
</div>






     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="javascript/jquery.lighter.js"></script>
     
     <script src='http://ksylvest.github.io/jquery-lighter/javascripts/jquery.lighter.js'></script>

   
   
   
    <script src="javascript/skillBar.js"></script>






<script src="javascript/contact_me.js"></script>
<script src="javascript/jqBootstrapValidation.js"></script>
<script src="javascript/skillBar.js"></script>
<script src="javascript/index.js"></script>
<script type="text/javascript" src="/javascript/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</body>
</html>
