<!doctype html>
<html>
<head>
<meta charset="UTF-8">

<!--Responive Design-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Ken Truong</title>
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="scss/style.scss">
<link rel="stylesheet" href="css/queries.css">
<link rel="stylesheet" href="css/progressBarStyle.css">
<link rel="stylesheet" href="css/skillBar.css">
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<link rel='stylesheet prefetch' href='http://ksylvest.github.io/jquery-lighter/stylesheets/jquery.lighter.css'>
<link href="https://fonts.googleapis.com/css?family=Bangers|Erica+One|Satisfy|Archivo+Black|Roboto+Slab" rel="stylesheet">





</head>
<body>
<div class="bg1">
	<div class="topHeaderbg">
		<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
     <div class="buttonCollapsed">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      </div>
      <div class="KlogoDiv"><h1 class="Klogo"></h1></div>
    </div>
   

    <!-- Collect the nav links, forms, and other content for toggling -->
    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    
     <div id="topHeaderPosition">
      <ul class="nav navbar-nav">
        <li><a href="#" class="homeStyle">HOME</a></li>
        <li><a href="#professionalLink">PROFESSIONAL</a></li>
        <li><a href="#portfolioLink">PORTFOLIO</a></li>
        <li><a href="#experienceLink">EXPERIENCE</a></li>
        <li><a href="#contactLink">CONTACT</a></li>
          </ul>
            </div>
        </li>
      </ul>
         

        </li>
      </ul>
   <!-- /.navbar-collapse -->
    </div>
  </div><!-- /.container-fluid -->
</nav>
<hr class="hrstyle14">
	</div>
	
	<div id="imDiv">
		
		
			<div id="kenTruongDiv">
		<h2 class="kenTruongWord"><div class="iM">I<span class="styleSingleQuote">'</span>M</div> KEN TRUONG<span class="dot">.</span></h2>
		</div>
		
				<div id="webDeveloperDiv">
		<h2 class="webDeveloperWord">Web Developer</h2>
		</div>
		
		<hr class="style14">
	</div>	
	
		<div id="downloadResumeDiv">
			<div class="KLargeLogoDiv"><h1 class="KLargeLogo"></h1></div>
			<div class="paragraphOneDiv">
			<p class="parygraphTHO">Welcome to my very own Portfolio Website! I'm Ken Truong and I'm a Web Developer. I have a passion for building websites from the ground up. Over the past months, I spent countless hours perfecting my skills in HTML5/CSS3 & JAVASCRIPT. I believe I can build any design you could imagine. I work with Real Estate, Restaurants, Digital Agency, and even E-commerce websites. I make sure my websites are at their top notch, fully functional and responsive for all devices. So that being said it’s time for you to throw me your ideas and just kick back, relax and watch your dream site comes to life. Please check out my resume on the link below and don’t hesitate to contact me anytime. </p>
			</div>
			<div id="downloadResumeNow">
			<a href="web/viewer.html?file=resume.pdf" class="styleDownloadResume">VIEW RESUME</a>
		    </div>

		</div>
	
	
</div>
<div class="bg2"></div>
<div class="bg3">  




<!--PROGRESS BAR!!!!-->
<div class="inliner"></div>
<div class="inlined">
 	<div class="topProfessionalDiv">
 	<a name="professionalLink"></a>
 	<div class="proprodivOne">
  <h1 class="professionalh1">PROFESSIONAL</h1>
  <h2 class="myKnowledgeh2">MY KNOWLEDGE LEVEL IN SOFTWARE</h2>
	</div>
  

<div class="skillbar clearfix " data-percent="88%">
	<div class="skillbar-title"<span>HTML & CSS</span></div>
	<div class="skillbar-bar" style="background: #13b3bf;"></div>
	<div class="skill-bar-percent">Proficient</div>
</div> 
<!-- End Skill Bar -->

<div class="skillbar clearfix " data-percent="66%">
	<div class="skillbar-title"<span>Javascript</span></div>
	<div class="skillbar-bar" style="background: #13b3bf;"></div>
	<div class="skill-bar-percent">Intermediate</div>
</div> <!-- End Skill Bar -->

<div class="skillbar clearfix " data-percent="70%">
	<div class="skillbar-title"<span>Adobe Photoshop</span></div>
	<div class="skillbar-bar" style="background: #13b3bf;"></div>
	<div class="skill-bar-percent">Intermediate</div>
</div> 
<!-- End Skill Bar -->


<div class="skillbar clearfix " data-percent="100%">
	<div class="skillbar-title"<span>Google Skills</span></div>
	<div class="skillbar-bar" style="background: #13b3bf;"></div>
	<div class="skill-bar-percent">Professional</div>
</div> <!-- End Skill Bar -->




<div id="roadToSuccessDiv"><h1 class="roadToSuccess">Success Tracker</h1></div>
    
    

    </div>





  <!-- Start component -->
  <div class="progress-meter">
    <div class="track">
      <span class="progress"></span>
    </div>
    <ul class="progress-points" data-current="4">
      <li class="progress-point">
        <span class="label">HTML</span>
      </li>
      <li class="progress-point">
        <span class="label">CSS & Bootstrap</span>
      </li>
      <li class="progress-point">
        <span class="label">Javascript & jQuery</span>
      </li>
      <li class="progress-point">
        <span class="label">Node.js</span>
      </li>
      <li class="progress-point">
        <span class="label">PHP & MySQL</span>
      </li>
    </ul>
  </div>
  
  
  <!-- End component -->
  
  <!-- Demo only -->
  <div class="controls">
    <button class="trigger">Tunnel Vision!</button>
  </div>
</div>
  </div>
  
<!--  PORTFOLIO!!!!!-->
  
<div class="skills">

		 	<div class="topPortfolioDiv">
		 	<a name="portfolioLink"></a>
 	<div class="portfolioOne">
 	  <h1 class="portfolioh1">PORTFOLIO</h1>
  <h2 class="latesth2">MY LATEST WORK. <a href="portfolio.html" class="seeMoreText">CHECK OUT MORE ></a></h2>
    <div id="w">
    
    <ul class="imglist clearfix">
     
       <li><a href="https://kenvantruong.github.io/Lonely-Fisherman-Restaurant/"><img src="projectimg/lonelyfishermanrestaurant.png" width="300" height="200"></a></li>
       <li><a href="https://kenvantruong.github.io/Real-Estate/"><img src="projectimg/RealEstate.png" width="300" height="200"></a></li>
      <li><a href="https://kenvantruong.github.io/Dawg-Furrfect/"><img src="projectimg/dawgfurrfect.png" width="300" height="200"></a></li>
      <li><a href="https://kenvantruong.github.io/Netflix-Project/"><img src="projectimg/netflix.png" width="300" height="200"></a></li>
      <li><a href="https://kenvantruong.github.io/Trello-Website/"><img src="projectimg/trello.png" width="300" height="200"></a></li>
      <li><a href="https://kenvantruong.github.io/Mount-Bromo/"><img src="projectimg/mountbromo.png" width="300" height="200" ></a></li>

      
    </ul>
    
    

    
	</div>
	</div>
	</div>
		
		
</div>




<div class="bg4">
   	<div class="experienceDiv">
   	<a name="experienceLink"></a>
  <h1 class="experienceh1">EXPERIENCE</h1>
	</div>
  
  

<div class="history-tl-container">
  <ul class="tl">
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        20 April 2017 - <br> 11 May 2017
      </div>
      <div class="item-title">Full Stack Development Mentorship: Joe Santos Garia</div>
      <div class="item-detail">4 Week Program</div>
<div class="item-detail">CodingPhase.com</div>
      
    </li>
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        16 September 2016 <br> 
      </div>
      <div class="item-title">First Website Goes Live.</div>
      <div class="item-detail">www.KenVanTruong.com</div>
    </li>
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        December 2016 <br>
      </div>
      <div class="item-title">First Commit Github Repository</div>
      <div class="item-detail">Github</div>
    </li>
        <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        2006<br>
      </div>
      <div class="item-title">Custom Myspace Profile for Friends</div>
      <div class="item-title">HTML/CSS</div>
      <div class="item-detail">Myspace</div>
    </li>
        <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        2005<br> 
      </div>
      <div class="item-title">Built First Game with RPG Maker</div>
      <div class="item-title">Logic Knowledge</div>
      <div class="item-detail">RPG Maker</div>
    </li>


  </ul>

</div>
  
  
</body>
</html>


</div>
<div class="bg7">
	<div class="bg7div">
   <a name="contactLink"></a>
    <div class="contactMeDiv">
    <h2 class="contactmeTEXT">Contact Me</h2>
<form class="cf">
  <div class="half left cf">
    <input type="text" id="input-name" placeholder="Name">
    <input type="email" id="input-email" placeholder="Email address">
    <input type="text" id="input-subject" placeholder="Subject">
  </div>
  <div class="half right cf">
    <textarea name="message" type="text" id="input-message" placeholder="Message"></textarea>
  </div>  
  <input type="submit" value="Submit" id="input-submit">
</form>
  </div>
  
  <div class="socialMedia">
	<a href="https://github.com/kenvantruong"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a></href>
	<a href="tel:707-334-9626"><i class="fa fa-phone fa-2x" aria-hidden="true"></i></href>
 	<a href="mailto:kenvantruong@gmail.com"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
  	<a href="#"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></href>
  	<a href="https://twitter.com/DevKenVT"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></href>
  	
  	
  </div>
  
<!--  MUSIC PLAYER-->




  
  
  
  
  
  </div>
	
	

</div>
<div class="footer">
	<div id="footWrapID">
	<div class="footerWrap">
	<a href="#"><h1 class="KlogoFooter"></h1></a>
	<h4 class="copyRightText">&copy; 2017 Made by Ken Truong</h4>
	</div>
	</div>
</div>






     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="javascript/jquery.lighter.js"></script>
     
     <script src='http://ksylvest.github.io/jquery-lighter/javascripts/jquery.lighter.js'></script>

   
   
   
    <script src="javascript/skillBar.js"></script>







<script src="javascript/skillBar.js"></script>
<script src="javascript/index.js"></script>
<script type="text/javascript" src="javascript/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</body>
</html>
